<section class="myRegulat">
 <div class="wrapper myRegulat__wrapper">
  <div class="section-header section-header--font700">
   <h2 class="section-header__title section-header__title_font700">Создатель регламента</h2>
  </div>
  <div class="myRegulat-container">
   <div class="myRegulat-container__item myRegulat-container__item_create-personal">
    <div class="create-personal">
     <div class="myRegulat-container-list">
      <div class="myRegulat-container-list__block myRegulat-container-list__block_create-personal-borderNone">
       <div class="myRegulat-container-list__container myRegulat-container-list__container_pdg">
        <ul class="myRegulat-container-list__regulat">
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><label for="#"
            class="create-personal-data__name">Ваши Ф.И.О.</label><input type="text"
            class="create-personal-data__input create-personal-data__input_namePersonal"
            placeholder="Иванов Иван Иванович" data-id="{{documentAuthor._id}}"
            value="{{documentAuthor.profile.lastName}} {{documentAuthor.profile.name}} {{documentAuthor.profile.patronymic}}">
          </div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><label for="#"
            class="create-personal-data__name create-personal-data__name_mnull">Регламент:</label><input type="text"
            class="create-personal-data__input create-personal-data__input_nameInputReg" data-id="{{documentData._id}}"
            value="{{documentData.title}}" disabled>
          </div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><span class="create-personal-data__name">Дата
            создания:</span>
           <div class="create-personal-data__date convertDate">{{documentData.dateСreate}}
           </div>
          </div>
         </li>
         <li class="myRegulat-container-list__item myRegulat-container-list-item">
          <div class="create-personal-data create-personal-data--pl"><span
            class="create-personal-data__name">Статус:</span><span class="create-personal-data__status">Режим
            комментирования</span></div>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="myRegulat-container__item myRegulat-container__item_prev-vers">
    <div class="prev-vers ">
     <div class="myRegulat-container-list">
      <div class="myRegulat-container-list__block">
       <div class="myRegulat-container-list__container myRegulat-container-list__container_prev-vers">
        <span class="prev-vers__title">Предыдущие версии</span>
        <div class="prev-vers__block">
         <div class="prev-vers__item">
          <div class="prev-vers__header">
           <span class="prev-vers__subtitle">Версия</span>
           <span class="prev-vers__subtitle">Дата изменения</span>
          </div>
          <ul class="prev-vers__ul">
           {{#each documentData.versions}}
           <li class="prev-vers__point">
            <span class="prev-vers__ver">{{version}}</span>
            <div class="prev-vers__date convertDate">{{dateUpdate}}</div>
           </li>
           {{/each}}
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>

<section class="commetRegulat">
 <div class="wrapper myRegulat__wrapper">
  <div class="commetRegulat__container">
   <div class="commentRegulat-flex-blck" style="display: flex; margin-right:2rem; flex-direction:column;width: 100%;">
    <div class="accardion commetRegulat-item commetRegulat__item commetRegulat__item_left">
     <div class="commetRegulat-item__header commetRegulat-item-header">
      <div class="commetRegulat-item-header__container">
       <div class="commetRegulat-item-header__right">
        <p class="commetRegulat-desc commetRegulat-item-header__header-doc">
         {{documentData.regDocument.headDOC.headerTitle}}</p>
       </div>
       <span class="commetRegulat-item-header__title">АДМИНИСТРАТИВНЫЙ РЕГЛАМЕНТ</span>
       <p class="commetRegulat-item-header__desc">ПРЕДОСТАВЛЕНИЯ {{documentData.regDocument.headDOC.deliveryDoc}} УСЛУГИ
        {{documentData.regDocument.headDOC.servicy}}</p>
      </div>

     </div>
     <div class="accardion-item commetRegulat-item-body">
      <div class="section-header section-header--mb2">
       <h2 class="section-header__title section-header__title_fz18">1. Общие положения</h2>
      </div>
      <div class="accardion-content commetRegulat-item-content">

       <div class="commetRegulat-item-body__content" style="padding: 1rem 2.8rem 2rem 3.2rem;">
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1. Предмет регулирования
         Административного регламента</div>
        {{#each documentData.regDocument.regulat_1.subRegulat_1_1.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} Административный регламент
         устанавливает
         стандарт предоставления {{nameOrgan1}} услуги {{nameService1}}, состав, последовательность и сроки выполнения
         административных процедур по
         предоставлению {{nameOrgan2}} услуги, {{nameService2}}.</p>
        {{else}}
        {{/each}}
       </div>

       <div class="commetRegulat-item-body__content" style="padding: 1rem 2.8rem 2rem 3.2rem;">
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1.2. Круг заявителей</div>
        <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.2.1 Лицами, имеющими право на
         получение Муниципальной
         услуги, являются субъекты малого и среднего предпринимательства (далее – субъекты МСП), зарегистрированные и
         состоящие на учете в налоговых органах на территории городского округа, осуществляющие деятельность на
         территории городского округа, либо их уполномоченные представители, обратившиеся с запросом о предоставлении
         Муниципальной услуги</p>
        {{#each documentData.regDocument.regulat_1.subRegulat_1_2.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">{{paragraph}} {{fieldName}}</p>
        {{else}}
        {{/each}}
       </div>

       <div class="commetRegulat-item-body__content" style="padding: 1rem 2.8rem 2rem 3.2rem;">
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">1.3. Требования к порядку
         информирования о предоставлении муниципальной услуги</div>
        <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.3.1 Порядок получения
         информации
         Заявителями по вопросам предоставления услуги и услуг, которые являются необходимыми и обязательными для
         предоставления услуги, сведений о ходе предоставления указанных услуг, в том числе на официальном сайте, а
         также в федеральной государственной информационной системе "Единый портал государственных и муниципальных
         услуг (функций)" (www.gosuslugi.ru) (далее – Единый портал) и на Портале государственных и муниципальных
         услуг (функций) (www.pgu..ru) (далее – Региональный портал).</p>
        <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">1.3.2 Порядок, форма, место
         размещения и
         способы получения справочной информации, в том числе на стендах в местах предоставления муниципальной
         услуги и услуг, которые являются необходимыми и обязательными для предоставления муниципальной услуги, и в
         государственном автономном учреждении "Многофункциональный центр предоставления государственных и
         муниципальных услуг" (далее – МФЦ).</p>
        {{#each documentData.regDocument.regulat_1.subRegulat_1_3.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc section-header--mb2">{{paragraph}} {{fieldName}}</p>
        {{else}}
        {{/each}}
       </div>

      </div>
      <div class="constRegulat-form-blockBtn commetRegulat-item-body__center">
       <!--<button id="btn_open" class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_open">Развернуть раздел</button>-->
       <button id="btn_close"
        class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_close accardion-triger">Свернуть
        раздел</button>
      </div>
     </div>
     <div class="accardion-item commetRegulat-item-body">
      <div class="section-header section-header--mb2">

       <h2 class="section-header__title section-header__title_fz18">2. Стандарт предоставления муниципальной услуги</h2>
      </div>
      <div class="accardion-content commetRegulat-item-content">
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_1.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_1.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_1.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_1.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.1. Наименование муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_1.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" style="padding: 1rem 2.8rem 2rem 3.2rem;">
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.2. Наименование органа,
         предоставляющего муниципальную услугу</div>
        {{#each documentData.regDocument.regulat_2.subRegulat_2_2.items}}
        {{#each item_2_2_1}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} Предоставление муниципальной услуги
         осуществляется администрацией {{fieldName}}</p>
        {{else}}
        {{/each}}
        {{#each item_2_2_2}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} При предоставлении муниципальной
         услуги
         Уполномоченным органом осуществляет взаимодействие с: {{fieldName}}</p>
        {{else}}
        {{/each}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_3.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_3.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_3.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_3.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.3. Описание результата
         предоставления
         муниципальной услуги</div>
        {{/if}}{{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_3.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_4.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_4.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_4.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_4.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.4. Срок предоставления муниципальной
         услуги, в том числе с учетом необходимости обращения в организации, участвующие в предоставлении муниципальной
         услуги, срок приостановления предоставления муниципальной услуги в случае, если возможность приостановления
         предусмотрена законодательством Российской Федерации, срок выдачи (направления) документов, являющихся
         результатом предоставления муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_4.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_5.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_5.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_5.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_5.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.5. Нормативные правовые акты,
         регулирующие предоставление муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_5.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_6.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_6.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_6.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_6.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.6. Исчерпывающий перечень
         документов, необходимых в соответствии с нормативными правовыми актами для предоставления муниципальной услуги
         и услуг, которые являются необходимыми и обязательными для предоставления муниципальной услуги, подлежащих
         представлению заявителем, способы их получения заявителем, в том числе в электронной форме, порядок их
         представления
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_6.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_7.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_7.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_7.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_7.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.7. Исчерпывающий перечень
         документов, необходимых в соответствии с нормативными правовыми актами для предоставления муниципальной услуги,
         которые находятся в распоряжении государст- венных органов, органов местного самоуправления и иных органов,
         участвующих в предоставлении государственных и муниципальных услуг, и которые заявитель вправе представить, а
         также способы их получения заявителями, в том числе в электронной форме, порядок их представления
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_7.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_8.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_8.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_8.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_8.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.8. Указание на запрет требовать от
         заявителя
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_8.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_9.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_9.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_9.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_9.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.9. Исчерпывающий перечень оснований
         для отказа в приеме документов, необходимых для предоставления муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_9.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_10.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_10.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_10.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_10.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.10. Исчерпывающий перечень оснований
         для приостановления или отказа в предоставлении муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_10.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_11.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_11.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_11.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_11.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.11. Перечень услуг, которые являются
         необходимыми и обязательными для предоставления муниципальной услуги,в том числе сведения о документе
         (документах), выдаваемом (выдаваемых) организациями, участвующими в предоставлении муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_11.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_12.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_12.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_12.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_12.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.12. Порядок, размер и основания
         взимания государственной пошлины или иной платы, взимаемой за предоставление муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_12.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_13.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_13.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_13.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_13.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.13. Порядок, размер и основания
         взимания платы за предоставление услуг, которые являются необходимыми и обязательными для предоставления
         муниципальной услуги, включая информацию о методике расчета размера такой платы
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_13.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_14.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_14.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_14.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_14.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.14. Максимальный срок ожидания в
         очереди при подаче запроса о предоставлении муниципальной услуги, услуги, предоставляемой организацией,
         участвующей в предоставлении муниципальной услуги, и при получении результата предоставления таких услуг
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_14.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_15.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_15.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_15.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_15.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.15. Срок и порядок регистрации
         запроса заявителя о предоставлении муниципальной услуги и услуги, предоставляемой организацией, участвующей в
         предоставлении муниципальной услуги, в том числе в электронной форме
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_15.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_16.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_16.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_16.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_16.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.16. Требования к помещениям, в
         которых предоставляется Муниципальная услуга, к залу ожидания, местам для заполнения запросов о предоставлении
         Муниципальной услуги, информационным стендам с образцами их заполнения и перечнем документов, необходимых для
         предоставления Муниципальной услуги, в том числе к обеспечению доступности для инвалидов указанных объектов
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_16.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_17.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_17.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_17.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_17.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.17. Показатели доступности и
         качества Муниципальной услуги
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_17.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_18.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_18.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_18.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_18.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.18. Требования к организации
         предоставления Муниципальной услуги в электронной форме
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_18.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_2.subRegulat_2_19.items.length}}{{#list
        documentData.regDocument.regulat_2.subRegulat_2_19.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_2.subRegulat_2_19.items.length}}
        {{#list documentData.regDocument.regulat_2.subRegulat_2_19.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">2.19. Требования к организации
         предоставления Муниципальной услуги МФЦ
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_2.subRegulat_2_19.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_3.subRegulat_3_1.items.length}}{{#list
        documentData.regDocument.regulat_3.subRegulat_3_1.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_3.subRegulat_3_1.items.length}}
        {{#list documentData.regDocument.regulat_3.subRegulat_3_1.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">3.1. Состав, последовательность и
         сроки выполнения административных процедур (действий), требования к порядку их выполнения
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_3.subRegulat_3_1.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_4.subRegulat_4_1.items.length}}{{#list
        documentData.regDocument.regulat_4.subRegulat_4_1.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_4.subRegulat_4_1.items.length}}
        {{#list documentData.regDocument.regulat_4.subRegulat_4_1.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">4.1. Требования к организации
         предоставления Муниципальной услуги МФЦ
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_4.subRegulat_4_1.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
       <div class="commetRegulat-item-body__content" {{#if
        documentData.regDocument.regulat_5.subRegulat_5_1.items.length}}{{#list
        documentData.regDocument.regulat_5.subRegulat_5_1.items}}{{#if fieldName}}
        style="padding: 1rem 2.8rem 2rem 3.2rem;" {{/if}}{{/list}} {{/if}}>
        {{#if documentData.regDocument.regulat_5.subRegulat_5_1.items.length}}
        {{#list documentData.regDocument.regulat_5.subRegulat_5_1.items}}
        {{#if fieldName}}
        <div class="commetRegulat-item-body-title commetRegulat-item-body__title">5.1. Требования к организации
         предоставления Муниципальной услуги МФЦ
        </div>
        {{/if}}
        {{/list}}
        {{/if}}
        {{#each documentData.regDocument.regulat_5.subRegulat_5_1.items}}
        <p class="commetRegulat-item-body__desc commetRegulat-desc">{{paragraph}} {{fieldName}}.</p>
        {{else}}
        {{/each}}
       </div>
      </div>
      <div class="constRegulat-form-blockBtn commetRegulat-item-body__center">
       <!--<button id="btn_open" class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_open">Развернуть раздел</button>-->
       <button id="btn_close"
        class="btn constRegulat-form-blockBtn__btn commetRegulat-item-body__btn_close accardion-triger">Свернуть
        раздел</button>


      </div>

     </div>

    </div>


    <div class="constRegulat-form-blockBtn commetRegulat-item-body__center convrtBtn">

    </div>


   </div>

   <div class="commetRegulat__item commetRegulat-correct">
    <div class="commetRegulat-correct__container">
     <ul class="commetRegulat-correct__ul">
      {{#each commentsUser}}
      {{#each comments}}
      <span class="authorComments">{{../lastName}} {{../name}}</span>
      <li class="commetRegulat-correct__item commetRegulat-correct-item">
       <div class="commentRegulat-correct-item__block">
        <span class="commetRegulat-correct-item__point">{{sum @index}}. ...”</span><span
         class="commetRegulat-correct-item__title">{{selectedString}}</span><span
         class="commetRegulat-correct-item__point">”</span>
       </div>
       <textarea name="" id="" cols="15" rows="5" class="commetRegulat-correct-item__desc" disabled>{{comment}}
        </textarea>
      </li>
      {{/each}}
      {{/each}}
     </ul>
     <div class="constRegulat-form-blockBtn">
      <button id="add-commet" class="btn constRegulat-form-blockBtn__btn commetRegulat-correct__addcommet">Добавить
       комментарий</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>

{{#if isCommentRegulat}}

<script>

 const author = `{{ documentAuthor._id }}`;
 let url = new URL(window.location);
 if (url.pathname === `/user/${author}/comments/{{documentData._id}}`) {
  const convrtBtn = document.querySelector('.convrtBtn')
  if (convrtBtn) {
   convrtBtn.innerHTML = `<a href=\"../document/editDocument/{{documentData._id}}/confirmDocument\"
      class=\"btn constRegulat-form-blockBtn__btn convertHtml\" style=\"margin-right: 3rem;\">Создать документ Pdf Word</a>
     <a href=\"../document/editDocument/{{documentData._id}}\"
      class="btn constRegulat-form-blockBtn__btn">Редактировать</a>`
  }
  /*if (`documentData.status` == 2) {
   document.querySelector('.convertHtml').style.display = 'none';
  }*/
 }

 const toDate = date => {
  return new Intl.DateTimeFormat('ru-RU', {
   day: '2-digit',
   month: '2-digit',
   year: 'numeric',
   hour: '2-digit',
   minute: '2-digit'
  }).format(new Date(date))
 }
 document.querySelectorAll('.convertDate').forEach(item => {
  item.textContent = toDate(item.textContent)
 })
</script>
{{/if}}